* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: center;
    background: #f1f1f1;
    min-height: 100vh;
    background: url('https://upload.wikimedia.org/wikipedia/commons/c/ce/Circus_Circus_Las_Vegas_-_001.jpg') center;
    background-size: 100%;
    flex-direction: column;
}

.input {
    width: 360px;
    min-height: 100px;
    padding: 32px 24px;
    text-align: center;
    background: #ffaf10;
    border-radius: 5px;
    margin: 24px;
    align-self: center;
    box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
    /* border: none; */
    outline: none;
    font-size: 15px;
    color: #333;
}

.btn {
    width: 100px;
    align-self: center;
}

.post__btn {
    outline: none;
    background-color: #ffaf10;
    margin-top: 12px;
    padding: 12px 16px;
    font-weight: 600;
    color: red;
    border: none;
    width: 100%;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
}

.post__btn:hover {
    cursor: pointer;
    opacity: 0.9;
}
