* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    background-color: #dae0e6;
    display: flex;
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    padding-top: 40px;
    padding-right: 100px;
}

.content {
    background-color: #fff;
    display: flex;
    font-size: 15px;
    flex-direction: column;
    margin-top: 10px;
    border-radius: 5px;
    max-height: 100vh;
    height: 100%;
}

.post {
    margin: 10px;
    width: 480px;
    max-height: 100vh;
    height: 100%;
    align-self: center;
}

.post__container {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.post__author {
    display: flex;
    justify-content: space-between;
}

.author {
    font-size: 14px;
}

.view__comments {
    float: right;
    margin: 0;
}

.post__comment {
    margin-top: 10px;
}

.delete__btn {
    border: none;
    background-color: #ffaf10;
    text-decoration: none;
    color: #fff;
    font-size: 10px;
    padding: 5px;
}

.comment__input {
    width: 100%;
    padding: 5px;
    outline: none;
    background-color: #dae0e6;
    border-radius: 10px;
}

.comment__btn {
    border: none;
    background-color: #ffaf10;
    float: right;
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    padding: 5px;
    font-size: 10px;
}

.post__content {
    margin-top: 5px;
    font-size: 17px;
    font-weight: 600;
}

.post__btn {
    padding: 5px;
    background-color: #ffaf10;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 92%;
}

.post__btn:hover {
    opacity: 0.8;
    color: #333;
}

.line {
    height: 5px;
    width: 100%;
    background-color: #ccc;
}

.lines {
    height: 1px;
    width: 100%;
    background-color: #dae0e6;
    margin-top: 10px;
}

.comment__list {
    margin-bottom: 10px;
}

.comment__main {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.comment {
    margin: 0 10px 10px 10px;
    width: 480px;
}

.time {
    margin-left: 10px;
    font-size: 10px;
    font-weight: 200;
    align-self: center;
}

.comment__header {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.comment__author {
    font-size: 14px;
    display: flex;
    font-weight: 600;
}

.comment__content {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 2px;
}

.comment__container {
    background-color: #dae0e6;
    border-radius: 10px;
    padding: 5px;
}

.delete__comment__btn {
    border: none;
    background-color: #ffaf10;
    text-decoration: none;
    color: #fff;
    font-size: 10px;
    padding: 5px;
    border-radius: 5px;
}

.delete__comment__btn:hover {
    opacity: 0.8;
    color: #333;
}
