* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
        background-color: #dae0e6;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        flex-direction: column;
        padding-top: 30px;
}
