* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
        background-color: #dae0e6;
        /* display: flex; */
        width: 100%;
        height: 100%;
        justify-content: center;
        flex-direction: column;
        min-height: 100vh;
        padding-right: 100px;
}

.thread__list {
    padding: 10px;
}
