*{    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #333;
    font-size: 62.5%;
    font-family: "Open-sans", sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    background: #f1f1f1;
    min-height: 100vh;
    background: url('https://upload.wikimedia.org/wikipedia/commons/c/ce/Circus_Circus_Las_Vegas_-_001.jpg') center;
    background-size: 100%;
}


.form {
    width: 360px;
    min-height: 100px;
    padding: 32px 24px;
    text-align: center;
    background: #fff;
    border-radius: 2px;
    margin: 24px;
    align-self: center;
    box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
}

.form .heading {
    font-size: 2rem;
}

.form .desc {
    color: #636d77;
    text-align: center;
    font-size: 1.6rem;
    font-weight: lighter;
    line-height: 2.4rem;
    margin-top: 16px;
    font-weight: 300;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.form-message,
.form-label{
    text-align: left;
}

.form-label {
    font-weight: 700;
    padding-bottom: 6px;
    line-height: 1.8rem;
    font-size: 1.4rem;
}

.form-control {
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
    font-size: 1.4rem;
}

.form-control:hover {
    border-color: #ffaf10;
}

.form-message {
    text-decoration: none;
    font-size: 1.3rem;
    line-height: 1.6rem;
    padding: 4px 0;
    color: #ffaf10;
}

.form-submit {
    outline: none;
    background-color: #ffaf10;
    margin-top: 12px;
    padding: 12px 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
}

.form-submit:hover {
    opacity: 0.8;
}

.spacer {
    margin-top: 36px;
}
