* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    margin: auto;
    padding: 5px;
    background-color: aqua;
    justify-content: space-around;
}

.logo {
    display: flex;
    padding-left: 10px;
    margin-top: 3px;
}

.logo__img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.logo__brand {
    margin-bottom: 0;
    line-height: 30px;
    font-weight: 600;
}

.create {
    display: flex;
    margin: auto;
}

.create__btn {
    text-decoration: none;
    margin: 0 10px;
    border: none;
    border-radius: 10px;
    padding: 8px;
    width: 500px;
    background-color: #ffaf10;
    color: #fff;
    text-align: center;
    font-size: 15px;
}

.account {
    display: flex;
    align-items: center;
    font-size: 15px;
    /* line-height: 100%; */
}

.account__register,
.account__login,
.account__logout,
.account__yourpost {
    text-decoration: none;
    margin: 0 10px;
    border: none;
    border-radius: 10px;
    padding: 8px;
    background-color: #ffaf10;
    color: #fff;    
}

.account__register:hover,
.account__login:hover,
.account__logout:hover,
.account__yourpost:hover {
    opacity: 0.8;
    cursor: pointer;
    color: #fff;
}

