* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    background-color: #dae0e6;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.content {
    background-color: #fff;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    margin-top: 10px;
    border-radius: 2px;
    text-decoration: none;
    color: #333
}

.post {
    margin: 10px;
    width: 480px;
}

.post__container {
    padding-bottom: 10px;
    border-bottom: 1px solid #333;
}

.post__author {
    display: flex;
    justify-content: space-between;
}

.author {
    font-size: 14px;
    display: flex;
    font-weight: 600;
}

.time {
    margin-left: 10px;
    font-size: 10px;
    align-self: center;
    font-weight: 200;
}

.delete__btn {
    border: none;
    background-color: #ffaf10;
    text-decoration: none;
    color: #fff;
    font-size: 10px;
    padding: 5px;
    border-radius: 5px;
}

.post__comment {
    margin-top: 10px;
}

.comment {
    width: 100%;
    padding: 5px;
    outline: none;
}

.comment__btn {
    border: none;
    background-color: #ffaf10;
    float: right;
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    padding: 5px;
    font-size: 10px;
    border-radius: 5px;
}

.post__content {
    margin-top: 5px;
    font-size: 17px;
    font-weight: 600;
}

.line {
    height: 5px;
    width: 100%;
    background-color: #ccc;
}

